<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation du Mot de Passe</title>
</head>
<body>

    <h2>Réinitialisation du Mot de Passe</h2>

    <form action="/users/reset-password" method="post"> 
        <input type="hidden" name="token" th:value="${token}">
        <input type="password" name="password" placeholder="Nouveau Mot de Passe" required>
        <input type="password" name="newPasswordConfirm" placeholder="Confirmer Mot de Passe" required>
        <button type="submit">Réinitialiser</button>
    </form>
    

</body>
</html>

