<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation du Mot de Passe Réussie</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #fff; 
            opacity: 0.5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h2 {
            text-align: center;
            color: #c45c23; 
        }
    </style>
</head>
<body>

    <h2>Réinitialisation du mot de passe réussie</h2>

</body>
</html>
